name: Auto Close Issues

on:
  issues:
    types: [labeled]

jobs:
  auto-close-completed:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'completed' || github.event.label.name == 'wontfix'
    steps:
      - name: Close issue
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.issues.update({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            })